@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Rubik+Vinyl&family=Rubik+Glitch&family=Rubik+Iso&display=swap");

$primary-color: white;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Catamaran", sans-serif;
	list-style: none;
	text-decoration: none;
	transition: all 0.3s;
	color: $primary-color;
}

body {
	background-image: url("./imgs/bg.svg");
	background-position: center;
	background-size: cover;
	background-color: #070724;
	font-size: 100%;
	color: $primary-color;
	main {
		min-height: 100vh;
		max-width: 1920px;
		width: 98%;
		margin: auto;
		overflow-x: hidden;

		.soon h1,
		.not-found-page h1 {
			color: transparent;
			background: linear-gradient(135deg, red, #bada55, blue, purple);

			-webkit-background-clip: text;
			background-clip: text;
			font-size: clamp(3rem, 2vw, 5rem);

			text-transform: capitalize;
			font-weight: 500;
			font-family: "Rubik Glitch", cursive;
			letter-spacing: 6px;
			text-align: center;
		}
		.soon {
			height: 100vh;

			display: flex;
			align-items: center;
			justify-content: center;
			h1 {
				font-family: "Rubik Vinyl", cursive;
			}
		}
		.not-found-page {
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			h1 {
				font-weight: 400;
				font-family: "Rubik Iso", cursive;
				background: linear-gradient(45deg, cyan, red, #bada55, purple);
				-webkit-background-clip: text;
				background-clip: text;
			}
			a {
				border-radius: 1rem;
				padding: 1rem 2rem;
				background-color: rgba(0, 0, 0, 0.39);
				font-size: 1.2rem;
				margin-top: 1rem;
				&:hover {
					background-color: black;
				}
			}
		}
		.projects-listing {
			display: block;
			.project-card {
				display: grid;
				grid-template-columns: 2fr 1fr;
				grid-template-areas:
					"image title"
					"image links"
					"image tags";
				grid-template-rows: auto;
				gap: 3rem;
				// height: 100vh;
				padding: 5rem 0;
				.images {
					height: 600px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					.main-img {
						width: 90%;
						height: 90%;
						object-fit: contain;
					}
					grid-area: image;
					position: relative;
					.see-more {
						text-align: left;
						font-size: 1.2rem;
						cursor: pointer;
						padding: 0.5rem;
						z-index: 5;
						width: 100%;
						position: relative;
						text-transform: uppercase;
					}
					.slider {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						z-index: 2;
						top: 2rem;
						left: 0;
						transform: scale(0);
						.swiper {
							height: 100%;
							width: 90%;
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}

					&.active {
						.main-img {
							opacity: 0;
						}
						.slider {
							opacity: 1;
							transform: scale(1);
						}
					}
				}

				h2 {
					color: transparent;
					background: linear-gradient(90deg, cyan, blue, purple);

					-webkit-background-clip: text;
					background-clip: text;
					font-size: clamp(3rem, 2vw, 4rem);
					text-transform: capitalize;
					font-weight: 500;
					font-family: "Rubik Glitch", cursive;
					grid-area: title;
				}
				.links {
					grid-area: links;
					display: flex;
					flex-direction: column;
					p {
						font-size: 1.5rem;
					}
					a {
						text-decoration: underline;
						color: rgba($color: $primary-color, $alpha: 0.5);

						font-size: 1.4rem;
						&:hover {
							color: rgba($color: $primary-color, $alpha: 0.9);
						}
					}
				}
				.tags {
					grid-area: tags;

					ul {
						display: flex;
						flex-wrap: wrap;
						padding-inline-start: 1rem;
						li {
							margin-right: 2rem;
							font-size: 1.2rem;
							text-transform: uppercase;
							cursor: pointer;
							font-weight: 500;
							&:hover {
								color: rgb(149, 150, 151);
							}
							&::marker {
								content: "#";
							}
						}
					}
				}
				&:nth-child(2n + 1) {
					grid-template-columns: 1fr 2fr;
					grid-template-areas:
						"title image"
						"links image"
						"tags image";
					.see-more {
						text-align: right;
					}
					h2 {
						background: linear-gradient(90deg, purple, darkblue, cyan);

						-webkit-background-clip: text;
						background-clip: text;
					}
				}

				@media (width<=1024px) {
					grid-template-columns: 1fr;
					grid-template-areas:
						"title"
						"tags"
						"image"
						"links";
					height: auto;
					gap: 1rem;
					padding: 2rem 0;
					&:nth-child(2n + 1) {
						grid-template-columns: 1fr;
						grid-template-areas:
							"title"
							"tags"
							"image"
							"links";
						h2 {
							background: linear-gradient(90deg, cyan, blue, purple);

							-webkit-background-clip: text;
							background-clip: text;
						}
					}
					.images {
						height: auto;
						max-height: 300px;
						margin-bottom: 1rem;
						.see-more {
							padding: 0;
							margin-bottom: 1rem;
							text-align: right;
						}
						.slider {
							top: 1rem;
						}
						.main-img {
							width: 100%;
						}
					}
				}
			}
		}
		footer {
			text-align: center;
			padding: 3rem 0;
			margin-top: 2rem;
			border-top: 1px solid cyan;
		}
	}
}
